body {
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  padding-top: 100px;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  text-align: center;
}

video {
  flex: 100%;
  max-width: 600px;
  min-height: 400px;
  height: auto;
  display: block;
  background-color: black;
  margin-bottom: 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.results {
  width: 100%;
}

button {
  margin: 0 0.5rem;
}

.preview-wrapper {
  display: none;
}

.recorded-videos__list {
  /* display: none; */
  display: flex;
  flex-direction: column;
}
/* .recorded-videos__list.active {
  display: flex;
  flex-direction: column;
} */
.uploaded-videos {
  display: flex;
  flex-direction: column;
}

.customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.file-uploader,
.file-combiner,
.recorded-videos,
.uploaded-videos,
.video-recorder,
.combine-videos {
  border: 1px solid black;
  margin: 10px;
}

.customers td,
.customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

.customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

.customers tr:hover {
  background-color: #ddd;
}

.customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}

input[type="number"] {
  max-width: 50px;
}
